@use 'src/globalStyles/medias.scss' as *;

.home-container {
  &__actions-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 25px;
  }

  &__sort-container{
    margin-right: 10px;
  }

  &__list-container {
    width: 100%;

    @include landscape{
      width: 90%;
      max-width: 500px;
    }
    @include tablet{
      width: 80%;
      max-width: 600px;
    }
  }

  &__paginator-container {
    margin-top: 40px;
  }

  &__match-btn-container{
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
  }

}