.home-container {

  &__actions-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 25px;
  }

  &__sort-container{
    margin-right: 10px;
  }

  &__list-container {
    width: 100%;
  }

  &__paginator-container {
    margin-top: 40px;
  }

  &__match-btn-container{
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
  }

}