@use "src/globalStyles/colors.scss" as colors;

.custom-button-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: colors.$secondary;
  color: colors.$white;
  border-radius: 20px;
  min-height: 40px;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 10px -10px;
  border-style: solid;
  border-color: colors.$secondary;
  border-width: 2px;

  &:focus{
    border-color: colors.$text-primary;
  }
  &:hover:enabled {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 10px;
  }
  &:disabled{
    background-color: colors.$grey;
    color: colors.$text-primary;
    border-color: colors.$grey;
    box-shadow: none;
    cursor: default;
  }

  &__icon{
    margin-right: 10px;
  }
}